#textbox {
    background-color: red;
}
.textbox {
    background-color: blue;
}
.process_box {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 10px;
    gap: 10px;
}
.dual_box {
    display: flex;
    flex-flow: row wrap;
    justify-content: safe flex-start;
    align-self: stretch;
    height: 500px;
    gap: 10px;
    padding: 10px;
    background-color: green;
}
.submit_button {
    border: solid 2px black;
    border-radius: 10px;
    width: 100px;
    transition-duration: 0.4s;
}
.submit_button:hover {
    background-color: grey;
}

